
* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    box-sizing: border-box;
    font-size: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: wrap column;
    background-color: #E5E5E5;
    align-items: center;
    justify-content: center;
}
/*config para telas 1080p - Default

main {
    width: 75vw;
    position: fixed;
    height: 95vh;
    padding: 10px;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    background-image: url(icone.png);
    background-repeat: no-repeat;
    border: solid  5px;
}

#main__div__modifica__texto {
    align-items: flex-start;
    height: 700px;
    border: dotted 0.5px;
}




#digitar {
    display: flex;
    color: darkblue;
    flex-flow: wrap;
    background-color: #E5E5E5;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.3rem;
    border: none;
    text-align: right;
    border: dotted 0.5px;
}

#fieldset {

    text-indent: 14.5rem;
    width: 50vw;
    margin: 10px;
    padding: 5px;
    height: 55vh;
    border: dotted 0.5px;

}

#botoes {
    display: flex;
    flex-flow: wrap;
    width: 680px;
    height: 60px;
    justify-content: space-between;
    align-items: flex-end;
    border: dotted 0.5px;
}

#exclamacao {
    flex-flow: wrap;
    justify-content: space-between;
    font-size: 12px;
    width: 680px;
    padding-bottom: 5px;
    border: dotted 0.5px;
}

#botoes__criptografar {
    width: 300px;
    flex-flow: wrap;
    display: flex;
    background-color: blue;
    color: white;
    height: 57px;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
}

#botoes__descriptografar {
    width: 300px;
    display: flex;
    background-color: #D9D9D9;
    color: darkblue;
    border: darkblue 0.5px solid;
    flex-flow: wrap;
    height: 57px;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
}



aside {
    background-repeat: no-repeat;
    display: flex;
    flex-flow: wrap column;
    background-color: white;
    border-radius: 32px;
    width: 200vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

aside #conteudo {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
}


#mulher_comlupa {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 10px;
}

#aside__texto {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    font-weight: bolder;
    font-size: 1rem;
    padding: 5px;
}

aside div p {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-size: 1rem;
    height: 60px;
}


#botoes__copiar {
    width: 250px;
    margin-top: 90px;
    display: flex;
    flex-flow: wrap column;
    background-color: #D9D9D9;
    color: darkblue;
    border: darkblue 0.5px solid;
    height: 57px;
    border-radius: 18px;
    align-items: center;
    justify-content: center;

}

/*fim das config para telas 1080p 
MEDIA QUERIES
*/


/*telas de 1 ate 300px*/
@media screen and (max-width: 300px){}


/*telas de 300 ate 600px*/
@media screen and (max-width: 600px) {
    body{
        height: 100vh;
        width: 100vw;
        display: flex;
        background: lightsalmon;
        flex-flow: column wrap;    
        align-items: center;   
        justify-content: center;
        margin: 5px;
    }

    main{
        display: flex;
        flex-flow: wrap;     
        width: 95vw;
        height: 98vh;
        margin-right: 10px;
        background-image: url(icone.png);
        background-repeat: no-repeat;

    }
    
    #digitar{
        width: 95vw;
        text-align: center;
        border: none;
        background: lightsalmon;
    }

    #div__fieldset{
        display: flex;
        flex-flow: wrap;
        height:  40vh;
        width: 60vh;
        margin-top: 50px;
        justify-content: center;
        align-items: center;

    }


    #fieldset{
        display: flex;
        flex-flow: wrap column;
        justify-content: center;
        align-items: center;
        height: 32vh;
        width: 95vw;
    }

    #exclamacao{
        margin-right: 3vw;
        padding-left: 4vw;
        background-image: url(exclamacao.png);
        background-repeat: no-repeat;
    }
    

    #botoes{
        height: 10vh;
        width: 90vw;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 1vh;
        margin-left: 2vw;
}


    #botoes__criptografar{
        width:40vw;
        height: 10vh;
        display: flex;
        flex-flow: wrap column;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        color:salmon;
        border: salmon 1px solid;
    }

    
#botoes__descriptografar{
    width:40vw;
    height: 10vh;
    color:white;
    background-color: salmon;;
    display: flex;
    flex-flow: wrap column;
    border-radius: 15px;
    justify-content: center;
    align-items: center
}


aside{
    display: flex;
    width: 95vw;
    height: 34vh;
    flex-flow: wrap column;
    justify-content: space-between;
    margin: 5px;    
}


#mulher_comlupa{   
 display: none;
}



aside #aside__conteudo{
    margin: 4px;
    width: 91vw;
    height: 20vh;
    border-radius: 15px; 
    flex-flow: wrap;
    border: dotted 0.5px green;
    justify-content: space-between;
    
}

#aside__texto{
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold
}

#texto__normal{
    text-align: center;
}



#botoes__copiar{
    width:40vw;
        height: 10vh;
        display: flex;
        margin-left: 25vw;
        flex-flow: wrap column;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        color:salmon;
        border: salmon 1px solid;
}
}

/* telas maiores que 600px*/
@media screen and (min-width: 600px) {
    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        background: lightgreen;
        flex-flow:wrap;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        position: static;
        flex-flow: wrap column;
        width: 70vw;
        height: 85vh;
        background-image: url(icone.png);
        background-repeat: no-repeat;
        border-radius: 16px;
        align-items: center;
        padding: 15px;
    }

    #digitar {
        display: flex;
        width: 50vw;
        height: 3vh;
        flex-flow: wrap column;
        justify-content: flex-start;
        text-align: start;
        text-indent: 8rem;
        border: none;
        background: lightgreen;
        font-size: 1.7rem;
    }

    #div__fieldset {
        display: flex;
        flex-flow: wrap;
        height: 58vh;
        width: 50vw;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }


    #fieldset {
        display: flex;
        flex-flow: wrap column;
        justify-content: center;
        align-items: center;
        height: 58vh;
        width: 50vw;
    }

    #exclamacao{
        background-image: url('exclamacao.png');
        background-repeat: no-repeat;
        background-position: 8%;
        display: flex;
        flex-flow: wrap;
        width: 40vw;
        height: 2vh;
        padding-left: 4vw;
        margin-top: 4vh;
    }

    #botoes {
        height: 8vh;
        width: 34vw;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }


    #botoes__criptografar {
        width: 15vw;
        height: 8vh;
        flex-flow: wrap;
        display: flex;
        background-color: white;
        color: darkgreen;
        border-radius: 18px;
        border: darkgreen 1px solid;
        align-items: center;
        justify-content: center;
    }
    
    #botoes__descriptografar {
        width: 15vw;
        height: 8vh;
        display: flex;
        background-color: darkgreen;
        color: white;
        border: darkblue 0.5px solid;
        flex-flow: wrap;
        border-radius: 18px;
        align-items: center;
        justify-content: center;
    }
    

    aside {
        position: static;
        border: solid 1px;
        border-radius: 15px;
        display: flex;
        width: 18vw;
        height: 85vh;
        flex-flow: wrap column;
        justify-content: center;
        align-items: center;
    }


    #mulher_comlupa {
        margin-top: 5vh;
        display: flex;
        flex-flow: wrap column;
        width: 17vw;
        height: 30vh;
        border-radius: 25px;
        align-items: center;
    }


    #aside__conteudo {
        margin-top: 2vh;
        width: 17vw;
        height: 15vh;
        border: dotted 0.5px;
        border-radius: 25px;
        flex-flow: wrap column;
        justify-content:center;
        align-items: center;
        margin-bottom: 10vh;
    }

    #aside__texto{
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2vh;
    }

    #texto__normal{
        font-size: 1rem;
        text-align: center;
    }

    #botoes__copiar {
        width: 15vw;
        height: 8vh;
        flex-flow: wrap;
        display: flex;
        background-color: white;
        color: darkgreen;
        border-radius: 18px;
        border: darkgreen 1px solid;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 800px){

}


@media screen and (max-widht: 992px) {
    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        background: lightgreen;
        flex-flow: wrap column;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }

    main {
        display: flex;
        flex-flow: wrap column;
        width: 100vw;
        height:90vh;
        background-image: url(icone.png);
        background-repeat: no-repeat;
        background-size: 150px 150px;
        border: dotted 1px darkgreen;

    }

    #digitar {
        width: 15vw;
    }

    #div__fieldset {
        display: flex;
        flex-flow: wrap;
        height: 40vh;
        width: 35vh;
        border: dotted pink;
    }


    #fieldset {
        display: flex;
        flex-flow: wrap column;
        justify-content: center;
        align-items: center;
        height: 32vh;
        width: 95vw;
        border: dotted;
    }

    #exclamacao {
        display: flex;
        flex-flow: wrap;
        margin-top: 1px;
        width: 25vw;
        height: 3vh;
    }



    #botoes {
        height: 10vh;
        width: 70vw;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
    }


    #botoes__criptografar {
        width: 25vw;
        display: flex;
        flex-flow: wrap;
        margin-bottom: 35px;
    }


    #botoes__descriptografar {
        width: 25vw;
        display: flex;
        flex-flow: wrap;
        margin-bottom: 30px;
    }


    aside {
        border: dotted black;
        display: flex;
        width: 30vw;
        height: 50vh;
        flex-flow: wrap column;
        justify-content: space-between;
    }


    #mulher_comlupa {
        width: 40vw;
        height: 19vh;
        border: dotted;
        border-radius: 25px;
    }


    #aside__conteudo {
        width: 40vw;
        height: 19vh;
        border: dotted 0.5px;
        border-radius: 25px;
        flex-flow: wrap column;
        border: dotted 0.5px green;
        justify-content: space-between;
    }


    #botoes__copiar {
        width: 25vw;
        height: 35px;
        flex-flow: wrap column;
        margin-right: 900px;
        width: 40vw;
        display: flex;
        flex-flow: wrap;
        margin-bottom: 30px;
    }

}

/*ex: telas de no minimo 992px*/
@media screen and (min-widht: 992px) {
    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        background: lightgreen;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }

    main {
        display: flex;
        flex-flow: wrap column;
        width: 98vw;
        height: 80vh;
        background-image: url(icone.png);
        background-repeat: no-repeat;
        background-size: 150px 150px;
        border: solid 1px red;

    }

    #digitar {
        width: 15vw;
    }

    #div__fieldset {
        display: flex;
        flex-flow: wrap;
        height: 40vh;
        width: 35vh;
        border: dotted pink;
    }


    #fieldset {
        display: flex;
        flex-flow: wrap column;
        justify-content: center;
        align-items: center;
        height: 32vh;
        width: 95vw;
        border: dotted;
    }

    #exclamacao {
        display: flex;
        flex-flow: wrap;
        margin-top: 1px;
        width: 25vw;
        height: 3vh;
    }



    #botoes {
        height: 10vh;
        width: 70vw;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;


    }


    #botoes__criptografar {
        width: 25vw;
        display: flex;
        flex-flow: wrap;
        margin-bottom: 35px;
    }


    #botoes__descriptografar {
        width: 25vw;
        display: flex;
        flex-flow: wrap;
        margin-bottom: 30px;
    }


    aside {
        border: dotted black;
        display: flex;
        width: 20vw;
        height: 70vh;
        flex-flow: wrap column;
        justify-content: space-between;
    }


    #mulher_comlupa {
        width: 40vw;
        height: 19vh;
        border: dotted;
        border-radius: 25px;
    }


    #aside__conteudo {
        width: 40vw;
        height: 19vh;
        border: dotted 0.5px;
        border-radius: 25px;
        flex-flow: wrap column;
        border: dotted 0.5px green;
        justify-content: space-between;
    }


    #botoes__copiar {
        width: 25vw;
        height: 35px;
        flex-flow: wrap column;
        margin-right: 900px;
        width: 40vw;
        display: flex;
        flex-flow: wrap;
        margin-bottom: 30px;
    }
}

/*ex: telas de no minimo 1200px*/
@media screen and (min-widht: 1200px) {}

/*
MEDIA QUERIES
*/